*{
  padding: 0;
  margin: 0;
}
body{
  align-items: center;
  display: block;
  align-content: center;
  align-self: center;
}
.container{
  align-items: center;
  align-self: center;
  align-content: center;
  height:500px;
  width: 350px;
  background-color: grey;
}
input{
  height: 30px;
  width: 250px;
}
